*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.default-padding{
    padding: 5px;
}

.active{
    background-color: indianred;
    border-radius: 5px;
}

header h1{
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-shadow: 0px 1px 4px black; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-shadow: 0px 1px 4px black; */
    height: fit-content;
    flex-wrap: wrap;
    padding: 20px 20px 0px 20px;
}

a{
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 20px;
}

nav a:hover{
    background-color: indianred;
    border-radius: 5px;
}
.title h1{
    text-align: center;
    height: 80px;
    color: #167D7F;
    /* text-shadow: 2px 2px 4px #167D7F; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.section{
    padding: 50px;
    box-shadow:rgb(0 0 0 / 35%) 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    margin: 0px 50px;
}

.container{
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center; 
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    background-color: #98D7C2;
    flex-grow: 1;
    padding: 10px;
    font-size: 20px;
}

.main{
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    background-color: #DDFFE7;
}

.default-message{
    text-align:center;
    word-spacing: 2px;
}

.parent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
}

.input-text{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px;
    box-shadow:  1px 0px 4px 4px #98d7c2
}

.button{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.operation{
    padding: 9px;
    outline: 0;
    border: 0px;
    font-weight: bold;
    background-color: #167D7F;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 15px;
}

.output-container{
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.output{
    min-width: 200px;
    min-height: 35px;
    border-radius: 2px;
    margin-top: 5px;
    background-color: white;
    box-shadow:  1px 0px 4px 4px #98d7c2;
    display: flex;
    align-items: center;
    word-break: break-all;
    padding: 15px;
}

.go-to-up{
    height: 50px;
    width: 50px;
    background-color: indianred;
    cursor: pointer;
    border-radius: 30px;
    position: fixed;
    bottom: 8px;
    right: 8px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

  }
  
  .arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-135deg);
    position: absolute;
    top: 22px;
    left: 20px;
  }